
h1 {
  weight: 800;
}

input[type="text"] {
	width:70%;
}

p.intro {
  font-size: 1.2em;
}

.svg {
	margin: 0;
}

.x.axis {
  color: #999;
  font-size: 12px;
  border-bottom: 1px solid #999;
}

g.x.axis line {
  border: 1px solid #000;
}

g.tick line {
  color: #fff;
}

path.domain {
  display: none;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  margin-top: -20px;
  font: 11px sans-serif;
  background: #eee;
  border: 1px solid #ddd;
  pointer-events: none;
  opacity: 0.2;
  font-weight: bold;
  color: #000;
}

.search_term {
  text-decoration: none;
  display: inline-block;
  border-bottom:1px dashed gray;
}
